---
import PokemonCard from "../components/pokemons/PokemonCard.astro";
import type { PokemonResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";

const res = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await res.json()) as PokemonResponse;

const title = "Pokemon Static | Home";
---

<MainLayout title={title}>
	<h1 class="text-3xl">Listado de pokemons</h1>
	<hr />
	<section aria-label="Listado de pokemons"
	class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-4 mt-5">

	{data.results.map(( {name,url}) => <PokemonCard name={name} url={url}/> )}
	</section>
</MainLayout>
